{% extends "practica_07/music.html" %}

{% block datos %}
<div class="resultados">
    <h2>Datos del músico:</h2>
    <div class="datos">
        <h3>{{ post.nombre }} {{ post.apellidos }}</h3>
        <p>{{ post.fecha_nacimiento }}</p>
        <p>{{ post.instrumento_principal }}</p>
        
        <ul>
            <p>Grupos a los que pertenece:</p>
        {% for grupo in grupos %}
            <li>{{ grupo.nombre }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

<a class="btn btn-warning" href="{% url 'editMusico' pk=post.pk %}">Editar musico<span class="glyphicon glyphicon-pencil"></span></a>

{% endblock %}